version: 2.1

executors:
  ansible-exec-env:
    docker:
        - image: python:3.7-alpine3.11
  aws-exec-env:
    docker:
      - image: amazon/aws-cli

jobs:
  get_instance_ip:
    executor: aws-exec-env
    steps:
      - checkout
      - run: chmod +x inv-script.sh
      - run: ./inv-script.sh
      - run: yum install tar -y
      - run: yum install gzip -y
      - persist_to_workspace:
          root: ./
          paths: inventory.txt
  # Exercise: Config and Deployment
  configure_infrastructure:
    executor: ansible-exec-env
    steps:
      - checkout
      - add_ssh_keys:
          # You can get this ID in the section where you registered the SSH Key
          fingerprints: ["64:83:f7:e0:d4:39:2c:8d:93:ac:f9:ee:10:d3:1d:e0"] 
      - run:
          name: Install Ansible
          command: |
            apk add --update ansible
      - attach_workspace:
          at: ./
      - run:
          name: Run Playbook and Configure server
          command: |
            ansible-playbook -i inventory.txt main-remote.yml

workflows:
  default:
    jobs:
      - get_instance_ip
      - configure_infrastructure:
          requires:
            - get_instance_ip
